.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navItems {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navItems .navItem {
  width: 150px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.navItems a.active {
  color: red;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: none;
  animation: border-move 1s linear ease-in-out;
}
